// Application-Wide Variables

// Container Width
$container-max-width: 1200px !default;

// Font Families
$font-family-primary: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-family-code: 'Courier New', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

// Font Sizes
$font-size-extra-small: 0.800em;          // 8px
$font-size-small: 1.000em;                // 10px
$font-size-medium: 1.200em;               // 12px
$font-size-large: 1.400em;                // 14px
$font-size-extra-large: 2.400em;          // 16px

// Font Weights
$font-weight-regular: 400;                // Regular
$font-weight-bold: 700;                   // Bold

// Line Heights
$line-height-medium: 1.500em;             // 15px
$line-height-large: 2.000em;              // 20px
$line-height-extra-large: 3.200em;        // 32px

// Main Brand Colors
$brand-color-primary: #000 !default;      // Black
$brand-color-secondary: #FFF !default;    // White
$brand-color-quaternary: #333 !default;   // Dark Grey
$brand-color-dribbble: #EA4C89;           // Vibrant Pink
$brand-color-github: #999999;             // Warm Gray
$brand-color-instagram: #3F729B;          // Dark Plae Blue
$brand-color-linkedin: #0077B5;           // Deep Blue
$brand-color-twitter: #55ACEE;            // Vibrant Sky Blue
$color-light-grey: #EDEDED !default;
$color-dark-grey: #444 !default;
$color-mid-grey: #999 !default;

// Margin Horizontal Alignment
$align-center: 0 auto;

// Padding & Margin Gutters
$gutter-extra-small: 0.500em;             // 5px
$gutter-small: 1.000em;                   // 10px
$gutter-medium: 1.500em;                  // 15px
$gutter-large: 2.000em;                   // 20px
$gutter-extra-large: 4.000em;             // 40px

// Breakpoints Map
$breakpoints: (
  'extra-small': (min-width: 320px),
  'small': (min-width: 414px),
  'medium': (min-width: 600px),
  'large': (min-width: 800px),
  'extra-large': (min-width: 1024px)
) !default;

// Relative or Absolute URL
$base-url: '/assets/' !default;
