// Footer Styles

.site-footer {
  line-height: 20px;
  margin: $gutter-extra-small;

  p {
    font-size: $font-size-medium;
    font-weight: normal;
    margin-bottom: $gutter-small;
    text-align: center;

    @include respond-to('medium') {
      text-align: left;
    }
  }
}