// Grid Styles

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-tile {
  flex-basis: 100%;

  > div {
    background-color: peachpuff;
    margin: $gutter-extra-small;
  }

  .grid-tile-mask {
    max-height: 250px;
    overflow: hidden;
  }

  @include respond-to('extra-small') {
    flex-basis: 50%;
  }

  @include respond-to('small') {
    flex-basis: 50%;
  }

  @include respond-to('medium') {
    flex-basis: 33.33333333333333%;
  }

  @include respond-to('large'){
    flex-basis: 33.33333333333333%;
  }

  @include respond-to('extra-large'){
    flex-basis: 25%;
  }
}

.grid-tile-wide {

  img {
    @include respond-to('extra-large'){
      position: relative;
      bottom: 150px;
    }
  }

  @include respond-to('extra-small') {
    flex-basis: 50%;
  }

  @include respond-to('small') {
    flex-basis: 50%;
  }

  @include respond-to('medium') {
    flex-basis: 33.33333333333333%;
  }

  @include respond-to('large'){
    flex-basis: 33.33333333333333%;
  }

  @include respond-to('extra-large'){
    flex-basis: 50%;
  }
}
