// Grid Styles

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-tile {
  flex: 0 0 100%;
  overflow: hidden;
  position: relative;

  a {
    display: block;
    line-height: 0;
    position: relative;
  }

  img {
    filter: grayscale(0);
  }

  &:focus img,
  &:hover img {
    filter: grayscale(1) blur(1px);
    opacity: .2;
    transition: .5s;
  }

  @include respond-to('extra-small') {
    flex: 0 0 50%;
  }

  @include respond-to('small') {
    flex: 0 0 50%;
  }

  @include respond-to('medium') {
    flex: 0 0 33.3%;
  }

  @include respond-to('large') {
    flex: 0 0 25%;
    }

  @include respond-to('extra-large') {
    flex: 0 0 16.666%;
  }
}
