// Header Styles

.site-header {
  line-height: 3.0;
  padding: $gutter-extra-small;
  width: 100%;
}

.site-nav {
  width: 100%;

  a {
    font-size: $font-size-medium;
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  li {
    flex: 0 1 auto;
    padding-left: $gutter-medium;
    text-align: right;

    .icon-fa {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size-adjust: none;
      font-stretch: normal;
      font-feature-settings: normal;
      font-language-override: normal;
      font-kerning: auto;
      font-synthesis: weight style;
      font-variant: normal;
      font-size: inherit;
      text-rendering: auto;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
    }

    .icon-db::after {
      content: '\f17d';
    }

    .icon-gh::after {
      content: '\f113';
    }

    .icon-in::after {
      content: '\f16d';
    }

    .icon-ln::after {
      content: '\f08c';
    }

    .icon-tt::after {
      content: '\f099';
    }
  }

  li:nth-child(1) {
    flex: 8 0 auto;
    text-align: left;
  }

  img {
    margin-top: 10px;
    width: 15px;
  }
}
