// Base Styles

html {
  background-color: $brand-color-secondary;
  box-sizing: border-box;
  overflow-y: scroll;
}

*, *::before, *::after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: $align-center;
  max-width: $container-max-width;
  padding: $gutter-extra-small;

  @include respond-to('medium'){
    padding: $gutter-small;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: $brand-color-primary;
  text-decoration: none;

  @include on-event {
    color: $color-mid-grey;
    text-decoration: none;
    transition: 300ms;
  }
}

img {
  width: 100%;
}

ul {
  list-style: none;
}
